.tableContainer {
  margin-top: 178px;
  margin-left: 320px;
  margin-bottom: 49px;
  color: var(--neutral-01, #000);
  font-family: Arial;
  font-style: normal;
}

.tableDashboard {
  margin-bottom: 26px;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px; /* 150% */
}

.tablesListOrder {
  display: flex;
  gap: 8px;
  margin-bottom: 18px;

  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.tablesIcon {
  width: 4px;
  height: 24px;
  background: var(--primary-dark-blue-04, #0d28a6);
}

.react-bootstrap-table {
  border-color: black !important;
}

.tableContainer .react-bootstrap-table .table tbody tr:first-child {
  background-color: aquamarine !important; /* Ganti dengan warna latar yang Anda inginkan */
  color: black !important; /* Ganti dengan warna teks yang Anda inginkan */
}
